.midReg{
  width: 40%;
  background-color: white;
  text-align: center;
  margin-left: 30%;
  padding: 20px;

}
.container{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding: 40px;
}
.allReg{
  padding:5%;
}
body{
  background-color: #C4FCF7;
  text-align: center;
}
.btn{
  background-color: white;
  text-align: center;
  margin: 7%;
}
#bar{
  background-color:  #B9F9FF;
  padding-top: 10px;
  padding-bottom: 15px;
}
.main{
  font-weight: bold;
}
