.abt-body{
  background-color: #C4FCF7;
  margin:0;
}
h1{
  text-align: center;
  font-family: 'Lobster', cursive;
}
h3{
  font-family: 'Bebas Neue', cursive;
}
p{
  font-family: 'Roboto', sans-serif;
}
.fcon{
  background-color: #B9F9FF;
  height:90px;
  padding: 20px;
  margin: 20px 30px;
}
.midcon{
  background-color: #B9F9FF;
  padding: 30px;
  margin: 30px;
}
.midcon2{
  background-color: white;
  padding: 30px;
  margin: 30px;
  text-align: center;
}
#contactinfo{
  background-color: #B9F9FF;
  text-align: center;
  padding: 5%;
}
.copyright{
  text-align: center;
  padding: 1% 15%;
}
.social-icon{
  text-align: center;
  margin: 10px 20px;

}
#bar{
  background-color: #C4FCF7;
  padding-top: 10px;
  padding-bottom: 15px;
}
.image{
  width: 30%;
  height: 400px;
  padding-left: 6px;
  margin-left: 20px;
}
.main{
  font-weight: bold;
}
